:root {
  --clr-Lime-Green: hsl(163, 72%, 41%);
  --clr-Bright-Red: hsl(356, 69%, 56%);
  --clr-Facebook: hsl(208, 92%, 53%);
  --clr-Twitter: hsl(203, 89%, 53%);
  --clr-Instagram: hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --clr-YouTube: hsl(348, 97%, 39%);
  --clr-Toggle: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --clr-Toggle: hsl(230, 22%, 74%);
  --clr-Very-Dark-Blue-bg: hsl(230, 17%, 14%);
  --clr-Very-Dark-Blue: hsl(232, 19%, 15%);
  --clr-Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --clr-Desaturated-Blue: hsl(228, 34%, 66%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Very-Pale-Blue: hsl(225, 100%, 98%);
  --clr-Light-Grayish-Blue: hsl(227, 47%, 96%);
  --clr-Dark-Grayish-Blue: hsl(228, 12%, 44%);
  --clr-Very-Dark-Blue: hsl(230, 17%, 14%);
  --clr-font-family: 'Inter', sans-serif;
  --clr-Font-size: 14px;
}

html {
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--clr-font-family);
}

body {
  background-color: var(--clr-Very-Dark-Blue-bg);
  color: var(--clr-White);
}

body .section {
  max-width: 90rem;
  width: 77.5%;
  margin: 2.5rem auto auto auto;
}

body .section .container .head {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .head__left {
  padding: 1px 0px 2px 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .head__h1 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: capitalize;
}

body .section .container .head__h5 {
  font-size: 0.625rem;
}

body .section .container .head__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section .container .head__text {
  font-size: 0.625rem;
  margin-right: 1.5rem;
}

body .section .container .head__button {
  width: 3rem;
  height: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  padding: 0.1875rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

body .section .container .head__btn {
  width: 1.125rem;
  height: 1.125rem;
  background-color: var(--clr-Toggle);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body .section .container .dashboard {
  padding-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .dashboard__card {
  width: 22.98%;
  height: 13.5rem;
  background-color: var(--clr-Dark-Desaturated-Blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.3125rem;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body .section .container .dashboard__card:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

body .section .container .dashboard__container {
  line-height: 2rem;
}

body .section .container .dashboard__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

body .section .container .dashboard__icons {
  margin-right: 0.4375rem;
}

body .section .container .dashboard__icons-youtube {
  margin-left: 0.4375rem;
}

body .section .container .dashboard__facebook {
  color: var(--clr-Facebook);
}

body .section .container .dashboard__twitter {
  color: var(--clr-Twitter);
}

body .section .container .dashboard__instagram {
  padding: 1rem 0rem;
  height: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body .section .container .dashboard__youtube-box {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-YouTube);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section .container .dashboard__youtube {
  color: var(--clr-Dark-Desaturated-Blue);
}

body .section .container .dashboard__head-text {
  font-size: 0.75rem;
  color: var(--clr-Dark-Grayish-Blue);
  font-weight: 700;
}

body .section .container .dashboard__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section .container .dashboard__number {
  font-size: 2.6875rem;
  font-weight: 700;
}

body .section .container .dashboard__body-text {
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: var(--clr-Dark-Grayish-Blue);
}

body .section .container .dashboard__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section .container .dashboard__caret {
  color: var(--clr-Lime-Green);
  margin-right: 0.25rem;
}

body .section .container .dashboard__caretd {
  color: var(--clr-YouTube);
  margin-right: 0.25rem;
}

body .section .container .dashboard__figure {
  color: var(--clr-Lime-Green);
  margin-right: 0.125rem;
}

body .section .container .dashboard__figured {
  color: var(--clr-YouTube);
  margin-right: 0.125rem;
}

body .section .container .dashboard__footer-text {
  color: var(--clr-Lime-Green);
}

body .section .container .dashboard__footer-textd {
  color: var(--clr-YouTube);
}

body .section .container .subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 3.1875rem;
  margin-bottom: 1.875rem;
}

body .section .container .Overview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__facebook {
  width: 22.98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__twitter {
  width: 22.98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__instagram {
  width: 22.98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__youtube {
  width: 22.98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__card {
  width: 100%;
  height: 7.8125rem;
  background-color: var(--clr-Dark-Desaturated-Blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.3125rem;
  cursor: pointer;
  padding: 1.5625rem 1.875rem 1.5625rem 1.5625rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body .section .container .Overview__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__top-text {
  font-size: 0.75rem;
  color: var(--clr-Desaturated-Blue);
}

body .section .container .Overview__facebook-color {
  color: var(--clr-Facebook);
}

body .section .container .Overview__twitter-color {
  color: var(--clr-Twitter);
}

body .section .container .Overview__instagram-color {
  padding: 1rem 0rem;
  height: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body .section .container .Overview__youtube-color {
  color: var(--clr-YouTube);
}

body .section .container .Overview__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section .container .Overview__bottom-number {
  font-size: 1.5625rem;
  font-weight: 700;
}

body .section .container .Overview__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section .container .Overview__caret {
  margin-right: 0.25rem;
  color: var(--clr-Lime-Green);
}

body .section .container .Overview__caret-red {
  margin-right: 0.25rem;
  color: var(--clr-Bright-Red);
}

body .section .container .Overview__figure {
  color: var(--clr-Lime-Green);
}

body .section .container .Overview__figure-red {
  color: var(--clr-Bright-Red);
}

.border-facebook {
  border-top: 3px solid #198ff5;
}

.border-twitter {
  border-top: 3px solid #1ca0f2;
}

.border-instagram {
  border-top: 3px solid #df4996;
}

.border-youtube {
  border-top: 3px solid #c4032a;
}

.btn-active {
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
}

.body-color {
  background-color: var(--clr-White);
  color: var(--clr-Dark-Grayish-Blue);
}

.card-color {
  background-color: var(--clr-Light-Grayish-Blue) !important;
  color: var(--clr-Dark-Grayish-Blue);
}
/*# sourceMappingURL=style.css.map */